<!DOCTYPE html>
<html>
<head>
<title>Welcome</title>
</head>
<body>

<label>Subject Title</label>
<input type="text" id="title" placeholder="Enter the subject title">
<br>
<label>Assignment</label>
<input type="textarea" id="assignment" placeholder="Enter the assignment to be done">
<br>
<label>Student Name</label>
<input type="textarea" id="student" placeholder="Name of the student">
<label>Marks obtained</label>
<input type="number" id="marks" placeholder="Enter the marks for his assignment">
<br>
<label>Remarks</label>
<input type="textarea" id="remarks" placeholder="Enter the remarks for his assignment">
<br>
<button onclick="submit()">Submit</button>
<button>Cancel</button>
</body>
<script th:src="@{/staff.js}"  type="text/javascript"></script>
<script th:src="@{/jquery.min.js }"  type="text/javascript"></script>


</html>